.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 10px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart-container {
    background-color: antiquewhite;
    padding: 5px;
    height: 300px;
    position: sticky;
    top: 1%;
}

.cart-container h4 {
    margin: 0;
}

/* smaller device */
@media screen and (max-width:576px) {
    .shop-container {
        display: flex;
    }

    .product-container {
        display: flex;
        flex-direction: column;
    }

}

/* medium device */
@media screen and (min-width:576px) and (max-width:768px) {
    .product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}